*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fakt",sans-serif,Helvetica,Arial;
}

.main-section{
  width: 80%;
  margin: 0 auto;
}

header{
  height: 72px;
  display: flex;
  justify-content:space-between;
  position:relative;
}

.logo{
  position: relative;
  border-top: none;
  margin: 17px 0;
}

.logo img{
  max-width: 100px;
}

.navbar{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.navbar  .navbar1 {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.navbar  .navbar2 {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 50px;
  
}
.navbar .navbar1 li{
  display: block;
  position: relative;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
 
}
.navbar .navbar2 li{
  display: block;
  position: relative;
  padding: 0 12px;
  font-size: 14px;
}
a{
  color: black;
  text-decoration: none;
}

.hidden-item{
  width: 0;
  list-style: none;
}

.hidden-item img{
  display: none; 
}


.button {
  background-color: #0abf53;
  border: none;
  border-radius: 6px;
  width: auto;
  font-size: 16px;
  color: white;
  padding: 12px 24px;
  font-weight: 600;
  cursor:pointer;
  }

.section1{
  display: flex;
}
.section1-left{
  width: 39%;
  flex:1;
}
.section1-rigth{
  width: 59%;
  flex:1;
  box-sizing: border-box;
  vertical-align: middle;
}

.section1 h1 {
  font-size: 4rem;
  padding: 10% 20% 5% 0;
}
video{
  text-align: center;
  width: 100%;

}
.section1-left-Text{
  font-size: 20px;
  padding: 10% 10% 10% 0;
  word-spacing: 15px;
  line-height:36px;
}

.footer1{
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  height: 200px;
}
.footer1 ul{
  width: 100%;
  height: 190px;
  align-content: center;

}

.footer1 ul li{
  flex:1;
  align-content: center;
  justify-content: space-around;
  list-style: none;
}

.footer2{
  background-color: #36b453;
  color: #ffff;
  height: 300px;
  list-style: none;
  margin: 0;
}
.footer2 li{
  padding-top: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}


#button3{
  background-color: #ffff;
  color: black;
}


@media (min-width: 771px) and (max-width: 1250px) {
  .navbar{
    display: none;
}
.collapse{
  display: flex;
}

header{
  width: 100%;
}
.hidden-item{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content : right;
}

.hidden-item img{
  width: 30px;
  display: block;
  justify-content: space-between;
  cursor: pointer;
  
  
}
.footer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.section1 h1 {
  font-size: 3rem;
}


}
@media (max-width: 770px) {
 body{
  grid-template-columns: auto;
 }
  .navbar{
    display: none;
}
.section1 h1 {
  font-size: 3rem;
}
.collapse{
  display: flex;
}

header{
  width: 100%;
}
.hidden-item{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content : right;
}

.hidden-item img{
  width: 30px;
  display: block;
  justify-content: space-between;
  cursor: pointer;
}
  .footer1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
 .section1{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
 }
.section1-left{
  width: 100%;
  padding: 0;
  justify-items: center;
}
.section1-rigth{
  width: 100%;
  padding: 0;
  justify-content: center;
}
.header {
  padding: 0;
  justify-items: center;
}

.section1-leftText{
  padding: 0 0 15px 0;
  justify-items: center;
}


.footer2{
  width: 100%;
  margin: 0;
  padding: 0;
  justify-items: center;
}
}

@media (max-width: 400px) {

  .footer1 li img{
    max-width: 60%;
  }
  .section1 h1 {
    font-size: 2rem;
  }
  .section1-left-Text{
    font-size: 15px;
    font-weight: 500;}
    #button2{
      justify-content: center;
      width: 100%;
      margin-bottom: 30px;
    
    }

}